#game-container {
    width: 600px; 
    margin: auto; 
    display: flex; 
    flex-wrap: wrap; 
    box-sizing: border-box;
}
.cell {
    width: 140px; 
    height: 140px; 
    border: 5px solid #69cee7; 
    box-sizing: border-box; 
    margin: 5px; 
    padding-top: 7px; 
    text-align: center;
}

.controls {
  background-color:rgb(252, 231, 162);
  font-size: 40px;
  box-sizing: border-box;
  border: 1px dashed #000;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.counter {
  display:flex;
  justify-content: space-between; 
}

.miss-counter {
  margin-top: 10px;
}

.number {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 1px dashed #000;
  background-color: rgba(223, 154, 148, 0.25);
  width: 60px;
  height: 60px;  
}

.hit-counter {
  color: rgb(23, 0, 128);
}
.miss-counter {
  color: red;
}

.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  border: 1px solid #000; 
}

.map-tile {
  width: var(--cell-size);
  height: var(--cell-size);
}

img { 
  display: block;
}